{% extends "base.html" %}


{% block title %}
- Overview
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="table-responsive currency-table">
        <table style="width: 100%;">
            <thead>
                <th style="width: 4%;">&nbsp;</th>
                <th style="width: 30%;">coin</th>
                <th style="width: 8%;">price $</th>
                <th style="width: 8%;">1h</th>
                <th style="width: 8%;">24h</th>
                <th style="width: 8%;">7d</th>
                <th style="width: 8%;">30d</th>
                <th style="width: 20%;">market cap</th>
                <th style="width: 4%;">&nbsp;</th>
            </thead>
            <tbody>
                {% if coins %}
                    {% for coin in coins %}
                <tr class="{{ 'row-lighter' if (loop.index0 % 2) == 0 else '' }} row-topb" style="height: 40px;">
                    <td class="col-right smaller">{{ loop.index }}.&nbsp;</td>
                    <td style="text-align: left;"><img src="{{ coin.icon_url }}" width="20" height="20">&nbsp;&nbsp;{{ coin.name }} (<span style="font-size: smaller;">{{ coin.symbol }}</span>)</td>
                    <td style="text-align: right;">{{ coin.current_price }}</td>
                    <td class="{{ 'num-positive' if coin.price_change_percent_1h >= 0 else 'num-negative' }}" style="text-align: right;">
                        {{ "%04.2f" % (coin.price_change_percent_1h | float) }}%
                    </td>
                    <td class="{{ 'num-positive' if coin.price_change_percent_24h >= 0 else 'num-negative' }}" style="text-align: right;">
                        {{ "%04.2f" % (coin.price_change_percent_24h | float) }}%
                    </td>
                    <td class="{{ 'num-positive' if coin.price_change_percent_7d >= 0 else 'num-negative' }}" style="text-align: right;">
                        {{ "%04.2f" % (coin.price_change_percent_7d | float) }}%
                    </td>
                    <td class="{{ 'num-positive' if coin.price_change_percent_30d >= 0 else 'num-negative' }}" style="text-align: right;">
                        {{ "%04.2f" % (coin.price_change_percent_30d | float) }}%
                    </td>
                    <td style="text-align: right;">{{ "{:0,}".format(coin.market_cap) }}</td>
                    <td>
                        {% if add_coin == True %}
                            <a href="/coin_add?folioid={{ portfolio_id }}&cid={{ coin.id }}">add</a>
                        {% endif %}
                    </td>
                </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8" style="text-align: center;">No coins found.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}