{% extends "base.html" %}

{% block title %}
- Imprint
{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container">
        <h4>Impressum</h4>
        <div class="container" style="text-align: left;">
            <div class="container">
                <strong>Owner and Responsible for Content</strong>
                <div class="container mt-2" style="margin-left: 12px;">
                    Marko Brunzel<br>
                    Barbarossastr. 32<br>
                    10779 Berlin<br>
                    Germany<br>
                </div>
            </div><br>
            <div class="container">
                <strong>Contact Information</strong>
                <div class="container mt-2" style="margin-left: 12px;">
                    Email: <a href="mailto:contact@starlight.berlin">contact@starlight.berlin</a>
                </div>
            </div><br>
            <div class="container">
                <strong>Disclaimer</strong>
                <div class="container mt-2" style="margin-left: 12px;">
                    This is a non-commercial, personal project intended for informational use only.<br>
                    The author is not responsible for any financial loss or damage related to the use of this site. 
                </div>
            </div><br>
            <div class="container">
                <strong>Privacy Policy</strong>
                <div class="container mt-2" style="margin-left: 12px;">
                    We value your privacy. We do not collect personal data.<br>
                    The only information handled is what you voluntarily enter, like cryptocurrency portfolio details,
                    and it is used solely to display your data within the app. No data is transmitted or shared externally.<br>
                    Your data remains private and secure within your session, as Cryptofolio does not integrate with third-party services or external servers.
                    <br>For questions, please <a href="mailto:contact@starlight.berlin">contact us</a>.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
