{% extends "base.html" %}


{% block title %}
- Portfolios
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
{% if session["user_id"] %}
<br>
<div class="table-responsive">
    <table style="width: 100%;">
        <thead>
            <th style="width: 35%;">coin</th>
            <th style="width: 20%;">amount</th>
            <th style="width: 20%;">price in usd</th>
            <th style="width: 20%;">total price in usd</th>
            <th style="width: 5%;">action</th>
        </thead>
        <tbody>
            {% if entries %}
                {% for entry in entries %}
            <tr class="{{ 'row-lighter' if (loop.index0 % 2) == 0 else '' }} row-topb" style="height: 35px;">
                <td style="text-align:justify;"><img src="{{ entry.icon_url }}" width="20" height="20"> {{ entry.name }} (<span style="font-size: smaller;">{{ entry.symbol }}</span>)</td>
                <td>{{ entry.quantity }}</td>
                <td>{% if entry.price > 0.005 %}
                    {{ "%.3f" % entry.price }} 
                    {% else %}
                    {{ "%.3e" % entry.price }}
                    {% endif %}</td>
                {% set total_price = (entry.price * entry.quantity) %}
                <td>{{ "%.2f" % total_price|abs }}</td>
                <td>
                    {% if portfolio_id > 0 %}
                    <a href="/transaction_remove?folioid={{ portfolio_id }}&entryid={{ entry.id }}"><img src="/static/img/cross.png" width="10px" height="10px" alt="remove"></a>
                    {% endif %}
                </td>
            </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="9">no transactions found</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<br>
<a class="mango" href="/portfolio?folioid={{portfolio_id}}">back to portfolio</a>
<br>
<br>
<br>

{% endif %}
{% endblock %}